<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">{{translations_brand}}</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li data-show-on="login" data-target="login">
					<a href="login">{{translations_login_page}}</a>
				</li>
				<li data-hide-on="login" data-target="signup">
					<a href="signup">{{translations_signup}}</a>
				</li>
				<li data-hide-on="login" data-target="tournaments">
					<a href="tournaments">{{translations_tournaments}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>